<div class="col">
  <h2>Por Pais</h2>
  <hr />

  <div class="row">
    <div class="col">
      <!-- (onEnter) viene del componente HIJO -->
      <!-- "buscar( $event )" es una funcioon del PADRE (este componente) -->
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencia($event)"
        placeholder="Buscar por pais...">
      </app-pais-input>
    </div>
  </div>

  <hr />

  <div class="alert alert-danger" *ngIf="hayError">
    No se encontro nada con el termino {{ termino }}
  </div>

  <div class="row" *ngIf="paises.length > 0">
    <div class="col">
      <!-- * "paises" viene del por-pais.component -->
      <!-- * [paises] viene del pais-table.component -->
      <app-pais-table [paises]="paises"></app-pais-table>
    </div>
  </div>
</div>
